<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Avaliação Tática Solutions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Roroldo Terra", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Cursos", "Index", "Home")</li>
                    <li>@Html.ActionLink("Alunos", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contato", "Home")</li>
                </ul>
            </div>
            
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footerleft ">
                    <div class="logofooter"> Rodolfo Terra</div>
                    <p>Trabalho com desenvolvimento de sistemas SIG/SAD em plataformas locais e online, tendo experiência em várias etapas do processo como análise de necessidade arquitetura de sistemas, modelagem de dados, testes, implantação e implementações de melhorias.</p>
                    <p><i class="fa fa-map-pin"></i>Brasil - São Paulo/SP</p>
                    <p><i class="fa fa-phone"></i> +55(11)95982-1618</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:rodolfodesignpro@yahoo.com.br" target="_blank">rodolfodesignpro@yahoo.com.br</a></p>

                </div>
                <div class="col-md-2 col-sm-6 paddingtop-bottom">
                    <h6 class="heading7">LINKS</h6>
                    <ul class="footer-ul">
                        <li><a href="#"> Início</a></li>
                        <li><a href="#"> Cursos</a></li>
                        <li><a href="#"> Alunos</a></li>
                        <li><a href="#"> Sobre</a></li>
                        <li><a href="#"> Documentação</a></li>
                        <li><a href="#"> Contato</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 paddingtop-bottom">
                    <h6 class="heading7">GERENCIAMENTO</h6>
                    <div class="post">
                        <p><a href="https://github.com/" target="_blank" title="Entrar no site da ferramenta"><i class="fa fa-search-plus" aria-hidden="true"></i></a> GIT<span>Controle de versão</span></p>
                        <p><a href="https://slack.com/" target="_blank" title="Entrar no site da ferramenta"><i class="fa fa-search-plus" aria-hidden="true"></i></a> SLACK <span>Gerenciamento remoto de informações</span></p>
                        <p><a href="https://trello.com/" target="_blank" title="Entrar no site da ferramenta"><i class="fa fa-search-plus" aria-hidden="true"></i></a> TRELLO <span>Controle de tarefas</span></p>
                        <p><a href="https://toggl.com/" target="_blank" title="Entrar no site da ferramenta"><i class="fa fa-search-plus" aria-hidden="true"></i></a> TOGGL <span>Gestão do tempo</span></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 paddingtop-bottom">
                    <div class="fb-page" data-href="https://github.com/RodolfoTerra" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://github.com/RodolfoTerra"><a href="https://github.com/RodolfoTerra" target="_blank"><i class="fa fa-github-square xlarg" aria-hidden="true"></i></a></blockquote>
                        </div>

                    </div>

                    <div class="fb-page" data-href="https://www.linkedin.com/in/rodterra/" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.linkedin.com/in/rodterra/"><a href="https://www.linkedin.com/in/rodterra/" target="_blank"><i class="fa fa-linkedin-square xlarg" aria-hidden="true"></i></a></blockquote>
                        </div>
                    </div>

                    <div class="fb-page" data-href="http://rodolfoterra.byethost22.com/portfolio/?utm_source=TaticaSolution&utm_medium=Prova&utm_campaign=Entrevista" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="http://rodolfoterra.byethost22.com/portfolio/?utm_source=TaticaSolution&utm_medium=Prova&utm_campaign=Entrevista"><a href="http://rodolfoterra.byethost22.com/portfolio/?utm_source=TaticaSolution&utm_medium=Prova&utm_campaign=Entrevista" target="_blank"><i class="fa fa-address-book xlarg" aria-hidden="true"></i></a></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer start from here-->
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p>© 2017 - Avaliação <a href="http://www.taticasolutions.com.br/" target="_blank">Tática Solutions</a></p>
            </div>
            <div class="col-md-6">
                <ul class="bottom_ul">
                    <li><a href="#">site.com</a></li>
                </ul>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
